extends layout

block content
  .section#about
    .container
      h1= title
      p.
        This site provides a simple way to host The Powder Toy Lua scripts for 
        use inside other saves uploaded into the save server. It's meant to be 
        used in conjunction with <a href="http://tpt.io/:14596">cracker64's 
        mod manager</a> which requests data and scripts from here. It provides 
        a strictly moderated script host, a request / listing database and 
        metadata. Right now, uploading scripts here means being boxmein. 
        Get a script up here by poking him. 
        
    .arrow-bottom

  .section#usage
    .container
      h2 Usage
      p Here's a listing of what this site does, how to use saves that use it, and how to make use of it yourself.

      h3 The site
      p You have quite many different URLs that can be requested to provide different kinds of data: 

      dl.dl-horizontal
        dt /view/:script
        dd A styled and highlighted 'front page' for the given script. You can link to these. Useful for just casual browsing.
        dd Example: <a href="/view/0">/view/0</a>

        dt /raw/:script
        dd A raw and text-only Lua representation of the script content with the metadata (name, description, author, time posted, where used?) as comments in the file start. This may change. 
        dd Example: <a href="/raw/0">/raw/0</a>

        dt /meta/:script
        dd Fetch only the metadata for the given script.
        dd Example: <a href="/meta/0">/meta/0</a>

        dt /list/
        dd Get listings of all the scripts that are hosted here, also fancy and styled. Find new scripts to use here, as well as short overviews of what it does and other metadata.
        dd: a(href='/list') /list

        dt /list/raw
        dd Get a raw list of all the scripts that are hosted here for processing. The formatting is minimal and lacks metadata.

      h3 Use dependent saves
      p dude idk ask cracker64 or something

      h3 Create a dependent save
      p idk how dude
    .arrow-bottom

  .section#scripts
    .container
      h2 Scripts we serve
      p A script listing is provided in <a href="/list">/list</a> for scripts that already are on this site. All of the scripts are clean, safe to use&trade; and totally compatible with other scripts. Or at least they should be. 

      h2 Contribute?
      p Want to add your amazing script to the repository? Well then here's your chance! 
      p Your code must fulfill the following conditions however:   
      ol 
        li It must not be malicious in intent. That means no powder.pref-stealers, no analytics scripts, no scripts that download other scripts, no scripts that intend to disable or crash the process/computer of the client. The scripts will be first confirmed by a passing moderator. 

        li It must not be a 'tpt.el'-element, it must use the proper <a href="http://boxmein.x10.mx/tptelements/lua/lua-reference.html#elements">elements API</a> and not modify other elements substantially. Small modifications are fine though, like making acid not flammable.
    .arrow-bottom

  