extends layout

block content
  .section#about
    .container
      h1= title
      p.
        This site provides a simple way to host The Powder Toy Lua scripts for 
        use inside other saves uploaded into the save server. You might need to 
        figure out someone to write a Lua backside for it to have TPT-integrated 
        functionality.
        
    .arrow-bottom

  .section#usage
    .container
      h2 Usage
      p Here's a listing of what this site does, how to use saves that use it, and how to make use of it yourself.

      h3 The site
      p You have quite many different URLs that can be requested to provide different kinds of data: 

      dl.dl-horizontal
        dt /view/:script
        dd A styled and highlighted 'front page' for the given script. You can link to these. Useful for just casual browsing.
        dd Example: <a href="/view/0">/view/0</a>

        dt /raw/:script
        dd A raw version of the script code. Perfect for automation.
        dd Example: <a href="/raw/0">/raw/0</a>

        dt /meta/:script
        dd Fetch only the metadata in JSON for the given script.
        dd Example: <a href="/meta/0">/meta/0</a>

        dt /list/
        dd Get listings of all the scripts that are hosted here, also fancy and styled. Find new scripts to use here, as well as short overviews of what it does and other metadata.
        dd: a(href='/list') /list

        dt /list/raw
        dd Get a raw list of all the scripts that are hosted here for processing. The formatting is minimal. Metadata is in JSON form.
        dd: a(href='/list/raw') /list/raw

        dt /assocs/:id
        dd You can fetch associations created by /manage/ here. The result will be a space-separated list of script IDs.
        dd: a(href='/assocs/0') /assocs/0

        hr

        dt /login/ 
        dd TPTAPI-based login system! The pages below will need you to be logged in.

        dt /manage/ 
        dd You can manage save-&gt;scripts associations here. Given a save ID, you can attach scripts to it via IDs.
        
      h3 Using dependent saves
      p I have no clue. Have someone write a Lua script to fetch your required script files and automate the process for you.
      p Saving alternate data in TPT saves (even as particles) is something shunned by TPT admins and developers, thus dependencies have to be saved server-side.
      
      h3 Create a dependent save
      p As far as I'm concerned, you can add an association in <a href="/manage/">/manage/</a> and a script by pinging me.
    .arrow-bottom

  .section#scripts
    .container
      h2 Scripts we serve
      p A script listing is provided in <a href="/list">/list</a>. I'm not yet guaranteeing anything.

      h2 Contribute?
      p You can add scripts to the server by notifying me on some social network <a href="http://tpt.io/@boxmein">[TPT]</a>, or, well, hosting your own copy of the server. Easy enough.
  