extends layout

block content
  .section
    .container
      .row
        each item in scripts
          .script-item.col-md-4.col-xs-4
            h4 #{item.meta.title}
            i.text-muted.pull-right (by #{item.meta.author})
            p: em=item.meta.description
            i: a(href='/view/#{item.scriptID}') (View)